* {
  margin: 0;
  padding: 0;
}
.header {
  background-image: url(https://s3-alpha-sig.figma.com/img/5909/0ea8/b488be9c50166f91c91c010eec13fd2e?Expires=1740355200&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=StU9gLKeReZqAL3556HA2AB8dqzH0eLyFsuDEPuP1hIoXDNG4cWwi-xx-MvC-ORjWJ-F8UiQoxmC~lB87U9Dn~82ZWHs6qqrYVl~C5plNd7qkN5dljngvLXWmsBWjzmcSFFDEd-7mEBsRAW6H0~UR0Q4kXF2OnE9eqTZhuDLWB5Oin0Of7Izji4b6nWHuejMi4tMJ5Ks0jOu8RQaOgiVnnaC5qve3d8ROF7kWzRLGyb1ajkhLw4cy9ZXLMEhj-aY6aSr-yhAmY8hDc0R2Gg3Z1pGiTC3ajhwEk06lglNxTQoSPEdRs7X8l29lGHn-m9OeFEeO13Vm6ufTszdmtOaGQ__);
  height: 700px;
  filter: brightness(90%);
}

nav {
  display: flex;
  gap: 4rem;
  color: #fff;
}

.all{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eig{
  display: flex;
  justify-content: space-between;
  
}

.button.for{
  width: 150px;
  height: 40px;
}

ul li {
  list-style: none;
}

ul li a {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  
}

.bam {
  width: 30px;
  height: 30px;
  margin-left: 3rem;
  border-width: 1px;
  border-radius: 40px;
}
.bad {
  display: flex;
  width: 30%;
  height: 70%;
  border: 1px solid #fff;
  border-radius: 40px;
  text-align: 3px;
  margin-right: 5rem;
}
.head {
  display: flex;
  padding: 10px;
}
/*.name {
  display: flex;
  margin-left: 2rem;
}*/
/*.sone {
  display: flex;
  justify-content: end;
}*/

#wom {
  margin-top: 0.5rem;
}
#man {
  background-color: transparent;
  width: 550px;
  top: 24.91px;
  left: 887px;
  border-width: 1px;
  border-radius: 40px;
  border: none;
  padding: 10px;
}
.koko {
  width: 357px;
  height: 137.53px;
}

.ben {
  display: flex;
  width: 401px;
  height: 36px;
  color: white;
  gap: 15px;
}
.inter {
  font-family: Inter;
  font-weight: 400px;
  font-size: 16px;
  line-height: 19.36px;
  letter-spacing: 0%;
  text-align: center;
  color: white;
}
.movies{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  color: #fff;

  img {
    width: 357px;
    height: 137.53px;
  }
}
.btn {
  display: flex;
  gap: 1rem;
  height: 54px;
  width: 433px;
}

  button {
    width: 206px;
    height: 54px;
    border: 1px solid #ffffff33;
    border-radius: 40px;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content:left;
    padding-right: 15px;
  }

.imgs {
  width: 25px;
}
.imgss {
  width: 25px;
}

.soon{
  background-color: #0f0f0f;
  display: flex;
  margin: 0 auto;
  overflow-y: hidden;
  gap: 5rem;
  scrollbar-width: none;
  
}

.movie {
  position: relative;
  width: 100%;
}

.image-item {
  width: 138px;
  height: 178px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 3;
  top: 30%;
  left: 70%;
  transition: transform 0.2s;
}

.move{
    font-size: 16px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: border 0.3s ease-in-out;
    .move:hover{
      border: 2px solid #8B0000;
    }
}

.mone{
  display: flex;
  gap: 1rem;
  overflow: auto;
  margin: 0 auto;
  background-color: #0f0f0f;
  background: black;
  scrollbar-width: none;
}
.hh{
  background-color: #0f0f0f;
  color: white;
  font-size: 3rem;
}
.item{
  width: 138px;
  height: 178px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 3;
}
.image-item:hover {
  transform: scale(1.05);
}

.numbers {
  font-size: 250px;
  color: #fff;
  font-weight: 1000;
}



.foot {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
}

.contact {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  margin-top: 3rem;
}

.s {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  gap: 1rem;
  text-align: center;
}

.tc{
  background-color: #000;
  color: #fff;
  padding-bottom: 15px;
}

.a {
  display: flex;
}

select {
  background-color: transparent;
  color: #fff;
  border: transparent;
}

option {
  background-color: #000;
  text-align: center;
}

.righ {
  padding: 0.5rem;
  border-radius: 25px;
  background-color: #555353;
  color: #fff;
  display: flex;
  gap: 1rem;
  border-color: transparent;
  margin-top: 2rem;
  width: 100px;
  height: 44px;
  top: 41px;
  border: 1px;
  text-align: center;
  justify-self: center;
}

.media {
  display: flex;
  gap: 1.5rem;
  padding: 1.5rem;
}

.media .sv {
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: #555353;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.media .sv:hover {
  background-color: #555353;
  transform: scale(1.1);
}

.arl {
  width: 157px;
  height: 41px;
  border-radius: 40px;
  object-fit: cover;
  object-position: top;
  background-color: #000;
  justify-self: center;
  margin-bottom: 1rem;
}

.box {
  margin-top: 50px;
  border-top: 1px solid #fff;
}

.app {
  display: flex;
  flex-direction: column;
}

.image {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  align-items: center;
}

.box {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

.email {
  display: flex;
  gap: 20px;
}

.pa {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 1rem;
}

.sp {
  display: flex;
  font-size: 0.9rem;
  justify-content: space-between;
}


.item{
  width: 251px;
  height: 195px;
  border-radius:12px;
}


.nav-space {

  gap: 2rem;
  position: fixed;
  z-index: 8;
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.navbar {

  gap: 2rem;
  padding: 1rem;
}

.both {
  display: flex;
  font-size: 1rem;
}

a {
  font-size: 1.5rem;
  color: #fff;
}

svg {
  width: 50%;
  height: 25px;
  justify-self: center;
  margin-top: 0.4rem;
}

.nav {
  display: flex;
  list-style: none;
  width: 50%;
  gap: 1rem;
  text-align: center;
  margin-top: 0.5rem;
}

.search {
display: flex;
align-items: center;
margin-top: 1rem;
}

img {
width: 30px;
height: 30px;
border-radius: 50%;
}

input {                                                                                                         
  padding: 0.5rem;
  border-radius: 20px;
  background-color: transparent;
  border-color: 1px solid transparent;
  color: #fff;
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.search-bar input {
  width: 100%;
  padding: 10px 40px 10px 10px;
}

.search-bar svg {
  position: relative;
  right: 50px;
  font-size: 18px;
  cursor: pointer;
}

.head {
  min-height: 100vh;
  background-image: linear-gradient(#0037, #111), url(https://s3-alpha-sig.figma.com/img/5909/0ea8/b488be9c50166f91c91c010eec13fd2e?Expires=1740960000&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=Z2e~O2oR2fnZHBfIex1ayEB1leOzYkIEc9-o6-SGAriQyrDFFBCHUK6U51qoCvYOboF6C~J48UtxrFu3KxCP-QF19YNJX07~OrpUeK7OwBPqx~KYPk2R~Ni1-GLwcR6za5I7RdC1tjkI-BoNiYuoZxW~gn-9nRIod4AA6s~1kwn-b6RjRH~r8wyz98IO4zPgERXnKxANGIn5jbJcVcZKZDbdesAvzwE3SZOvoja2rdCCdKP7aSKmoOOeeqpVzO4EFN3zf7tKHkOWZHCB~iM-v7OOoGm7KMcnnYMIwsvAQp279mxTc1cJYTxC2LnCSTDIUvzuHFekHPcr9G~ubL-TzQ);
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
      margin-top: 10rem;
      width: 100%;
      height: 100%;
  }
}


.bar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #000;
  color: #fff;
}

.same {
  display: flex;
  gap: 1rem;
}


.trans{
  background-color:#02010159;
  color: white;
  font-size: 19px;
}
.ton{
  font-size: 18px;
}


.btn{
  font: 15px;
}



.info {
  margin-top: 45px;
   margin-right: -40px;
   
 }
 
 .pic{
   display: flex;
   
 }
 
 .num {
   width: 120px;
   height: 40px;
 }
 
 .mum {
   width: 160px;
   height: 110px;
   margin-top: -33px;
 }