.header {
  background-color: rgb(24, 10, 10);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px 0;
  position: relative;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-item {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-item:hover {
  color: #007bff;
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}















.topFooter {
  padding: 0 48px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;

  h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21.78px;
    color: #ffffffcc;
    margin-bottom: 26px;
  }

  ul {
    li {
      list-style: none;
      line-height: 19.36px;
      color: #3d3c3d00;
      padding-bottom: 5px;
    }
  }
}


.but{
  background-color: transparent;
  background: #5a5959ab;
  font: inter;
  font-weight: 400px;
  font-size: 25px;
}

.ton{
  font: inter;
  font-weight: 400px;
  font-size: 25px;
}

.hms{
  height: 24px;
  top: 32px;
  left: 200px;
  gap: 30px;
  width: 461px;
}


{
  width: 169px;
  height: 44px;
  border-radius: 40px;
  border: 1px solid #ffffff33;
  background-color: transparent;
  backdrop-filter: blur(40px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffffe5;
  font-size: 20px;
  line-height: 24.2px;
  gap: 7px;
}

.list {
  display: flex;
  justify-content: space-between;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff33;
    backdrop-filter: blur(40px);
    border: 1px solid #ffffff33;
    width: 42px;
    height: 44px;
    border-radius: 50%;
    padding-top: 5px;
  }
}

.column {
  img {
    width: 157px;
    height: 41px;
    border-radius: 40px;
    backdrop-filter: blur(40px);
    box-shadow: 0px 4px 12px 0px #00000033;
    object-fit: cover;
    object-position: center;
    background: #000;
    margin-bottom: 20px;
  }
}

.bottomFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #ffffff33;
}

.row {
  display: flex;
  align-items: center;
  padding: 20px 48px;

  ul {
    display: flex;
    justify-content: space-between;
    gap: 40px;

    li {
      font-family: var(--secondary-font);
      line-height: 19.36px;
      color: #ffffff80;
      list-style: none;
    }
  }
}


